.container {
    width: 700px;
    height: 300px;
    display: flex;
    background: #ff0000;
    margin-top: 100px;
    margin-left: 330px;
    position: relative;
}

.box {
    width: 170px;
    height: 100px;
    position: absolute;
    background-color: rgb(0, 255, 255);
}

.box1 {
    top: -50px;
    left: -50px;
}

.box2 {
    top: -50px;
    right: -50px;
}

.box3 {
    bottom: -50px;
    left: -50px;
}

.box4 {
    bottom: -50px;
    right: -50px;
}

.box5 {
    top: 100px;
    left: 260px;
}